
@font-face 
{
  font-family: 'Segoe';
  src: URL('../fonts/Segoe\ UI.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Calibri';
  src: URL('../fonts/Calibri.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Monaco';
  src: URL('../fonts/Monaco.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Cascadia';
  src: URL('../fonts/Cascadia.ttf') format('truetype');
}

@font-face 
{
  font-family: 'Lora';
  src: URL('../fonts/Lora.ttf') format('truetype');
}

@font-face 
{
  font-family: 'SourceCode';
  src: URL('../fonts/SourceCode.ttf') format('truetype');
}

html, body 
{
  border: 0px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.top-menu 
{
  width: 100%;
  background-color: #F9F9F9; 
  height: 45px;
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  position: relative;
  z-index: 99999999;
}

.wrapper 
{
  width: 100;
  display: flex;
  height: calc(100vh - 45px);
}

.toolbox 
{
  z-index: 99999999;
  width: 200px;
  background-color: #F9F9F9;
  border-right: 3px solid #f2f2f2;
}

.viewport
{
  width: calc(100vw - 200px);
  overflow: show;
  background-color: white;
}

/**
 *  Menu Bar
 */

.top-menu > .square-btn
{
  cursor: pointer;
  width: 40px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  user-select: none;
}

.top-menu > .square-btn img
{
  width: 23px;
  height: 23px;
  padding: 3px;
  border: 0px;
}

.top-menu > .active img
{
  background-color: #C6C6C6;
}

.top-menu > .spacer
{
  width: 3px;
  height: 35px;
  margin-top: 5px;
  background-color: #f2f2f2;
  margin-left: 5px;
  margin-right: 5px;
}

.top-menu > .left-edge
{
  margin-left: 10px;
}

.search-bar
{
  border-bottom: 2px solid #f2f2f2;
  padding: 12px;
  box-sizing: border-box;
}

.search-bar > .title
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar > .title > .button a
{
  display: none; /* WARN: Possible feature */
  text-decoration: none;
  color: #2a579a;
  font-family: Segoe;
  font-weight: bold;
  font-size: 18px;
}

.search-bar > .title > .caption
{
  font-family: Segoe;
  color: #2a579a;
  font-size: 18px;
  user-select: none;
}

.search-bar > .search-area
{
  display: flex;
  margin-top: 15px;
}


.search-bar > .search-area > input
{
  outline: none;
  font-family: Segoe;
  border: 2px solid #f2f2f2;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  user-select: none;
}

.search-bar > .search-area > .icon 
{
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-left: none;
  background-color: white;
  user-select: none;
}

.search-bar > .search-area > .icon > img
{
  width: 20px;
  height: 20px;
}

.toolset 
{
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

#fontPickerFamily
{
  outline: none;
  background-color: transparent;
  border: 1px solid black;
  height: 35px;
  margin-top: 5px;
  width: 130px;
  font-size: 18px;
  color: black;
}

#fontPickerSize
{
  outline: none;
  background-color: transparent;
  border: 1px solid black;
  height: 35px;
  margin-top: 5px;
  width: 50px;
  border-left: none;
  margin-right: 10px;
  font-size: 18px;
  color: black;
}



/**
 *  Toolbar
 */

.tool
{
  width: 100%;
  padding: 5px 20px 5px 20px;
  box-sizing: border-box;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}

.tool > .icon
{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool > .icon > img
{
  width: 70%;
}

.tool > .name 
{
  width: 100%;
  text-align: center;
  font-family: 'Segoe';
  color: #C1C1C1;
  user-select: none;
}


/**
 *  Diagram Elements
 */

.PoczątekElement
{
  background-color: #74ae43;
  border-radius: 25px;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
}

.PoczątekElement > div
{
  color: white;
  text-align: center;
  outline: none;
  user-select: none;
}

.PrzetwarzanieElement 
{
  background-color: #3E70C5;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
}

.PrzetwarzanieElement > div
{
  color: white;
  text-align: left;
  outline: none;
  user-select: none;
}

.WarunekElement
{
  background-color: transparent;
  background-image: url('../icons/rhm.png');
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
}

.WarunekElement > div
{
  color: white;
  text-align: center;
  outline: none;
  user-select: none;
}

.KoniecElement
{
  background-color: #f09609;
  border-radius: 25px;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
}

.KoniecElement > div
{
  color: white;
  text-align: center;
  outline: none;
  user-select: none;
}

.FunkcjaElement
{
  background-color: transparent;
  background-image: url('../icons/funct.png');
  background-size:100% 100%;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}

.FunkcjaElement > div
{
  color: white;
  text-align: center;
  outline: none;
  user-select: none;
}

.IOElement
{
  background-color: transparent;
  background-image: url('../icons/ioctl.png');
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
}

.ArrowElement
{
  background-color: black;
  /* background-image: url('../icons/arrow-top.png'); */
  background-size:100% 100%;
  padding: 1px;
  box-sizing: border-box;
  position: fixed;
}

.IOElement > div
{
  color: white;
  text-align: center;
  outline: none;
  user-select: none;
}

.TekstElement
{
  background-color: transparent;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}

.TekstElement > div
{
  color: black;
  text-align: center;
  outline: none;
  user-select: none;
}

#select-area
{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999999;
  background-color: #207cf5;
  border: 2px solid #0752b5;
  opacity: 0.5;
}